<!-- <app-child #ok [data]="'sidenav 1'"></app-child>
<button (click)="open(ok,ok2)">click me</button>
<app-child #ok2 [data]="'sidenav 2'"></app-child>
<button (click)="open(ok2,ok)">click me 2</button> -->


<!-- <app-child2 #menu></app-child2>
<button>hello world</button>
<app-child [data]="menu"></app-child> -->


<!-- <div>
    <dropdown>
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </dropdown>
</div> -->

<app-animation></app-animation>